<div>

  <h2>Provide details of new Employee</h2>
  <!-- create alaises of ech input tag
      alloted a variable name to input tags
  -->
  <form>

    <pre>
      Enter Employee Code         <input type="text" name="id" #id />
      Enter Employee Name         <input type="text" name="name" #n />
      Enter Employee Email        <input type="text" name="email" #e />
      Enter Employee Dept         <input type="text" name="dept" #d />

                                  <input type="button" value="Save" (click)="save(id,n,e,d)" />
    </pre>
  </form>

  <table width="80%" border="1">
    <th>ID</th>
    <th>NAME</th>
    <th>EMAIL</th>
    <th>DEPT</th>
    <tr *ngFor="let employee of employees">
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.dept}}</td>
    </tr>
  </table>

</div>
